div.theme-nga, div.theme-nga div.ql-editor, div.theme-nga div.el-descriptions .el-descriptions-item__cell {
  color: #10273f;
  background-color: #f5e8cb;
}

div.theme-cyan, div.theme-cyan div.ql-editor, div.theme-cyan div.el-descriptions .el-descriptions-item__cell {
  color: #10273f;
  background-color: #d3dedb;
}

div.theme-teio, div.theme-teio div.ql-editor, div.theme-teio div.el-descriptions .el-descriptions-item__cell {
  color: navy;
  background-color: #d0daff;
}

div.theme-purple, div.theme-purple div.ql-editor, div.theme-purple div.el-descriptions .el-descriptions-item__cell {
  color: #10273f;
  background-color: #ded1d4;
}

div.theme-black, div.theme-black div.ql-editor, div.theme-black div.el-descriptions .el-descriptions-item__cell {
  color: #ddedf5;
  background-color: #34312e;
}

div.theme-green, div.theme-green div.ql-editor, div.theme-green div.el-descriptions .el-descriptions-item__cell {
  color: black;
  background-color: #dde9dd;
}

div.theme-exhentai, div.theme-exhentai div.ql-editor, div.theme-exhentai div.el-descriptions .el-descriptions-item__cell {
  color: #f1f1f1;
  background-color: #3e424a;
}

div.theme-porn, div.theme-porn div.ql-editor, div.theme-porn div.el-descriptions .el-descriptions-item__cell {
  color: #e4e4e4;
  background-color: black;
}

div.el-descriptions .el-descriptions-item__label {
  min-width: 50px;
}

div.ql-editor img {
  max-width: 100%;
}
div.normal-font div.ql-editor h1 {
  font-size: 2.5em;
}
div.normal-font div.ql-editor h2 {
  font-size: 2.25em;
}
div.normal-font div.ql-editor p,
div.normal-font div.ql-editor li {
  font-size: 1.5em;
}
div.normal-font div.ql-editor span.ql-size-large {
  font-size: 2em;
}
div.normal-font div.ql-editor span.ql-size-small,
div.normal-font div.ql-editor blockquote {
  font-size: 1em;
}
div.large-font div.ql-editor h1 {
    font-size: 3.75em;
}
div.large-font div.ql-editor h2 {
    font-size: 3.375em;
}
div.large-font div.ql-editor p,
div.large-font div.ql-editor li {
    font-size: 2.25em;
}
div.large-font div.ql-editor span.ql-size-large {
    font-size: 3em;
}
div.large-font div.ql-editor span.ql-size-small,
div.large-font div.ql-editor blockquote {
    font-size: 1.5em;
}
div.small-font.wider-space div.ql-editor p,
div.small-font.wider-space div.ql-editor h1,
div.small-font.wider-space div.ql-editor h2 {
    margin-bottom: 5px;
}
div.normal-font.wider-space div.ql-editor p,
div.normal-font.wider-space div.ql-editor h1,
div.normal-font.wider-space div.ql-editor h2 {
    margin-bottom: 10px;
}
div.large-font.wider-space div.ql-editor p,
div.large-font.wider-space div.ql-editor h1,
div.large-font.wider-space div.ql-editor h2 {
    margin-bottom: 15px;
}