<!DOCTYPE html>
<html>
<head>
    <script src="file:///android_asset/reader/js/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="file:///android_asset/reader/css/element-ui.css">
    <link rel="stylesheet" href="file:///android_asset/reader/css/quill.core.css">
    <link rel="stylesheet" href="file:///android_asset/reader/css/quill.snow.css">
    <link rel="stylesheet" href="file:///android_asset/reader/css/umalib.reader.css">
</head>
<body style="background-color: #f5e8cb;">
<div id="main">
    <el-descriptions :column="1">
        <el-descriptions-item label="标题">{{ article.name }}</el-descriptions-item>
        <el-descriptions-item label="作者">{{ article.author }}</el-descriptions-item>
        <el-descriptions-item v-if="article.translator" label="译者">
            {{ article.translator }}
        </el-descriptions-item>
        <el-descriptions-item label="上传时间">{{ article.time }}</el-descriptions-item>
        <el-descriptions-item label="标签">
            <template style="margin: 5px;" v-for="tag in article.tags">
                <el-tag size="small">{{ tag }}</el-tag>
            </template>
        </el-descriptions-item>
        <el-descriptions-item v-if="article.source" label="来源">
            {{ article.source }}
        </el-descriptions-item>
        <el-descriptions-item label="备注">{{ article.note }}</el-descriptions-item>
    </el-descriptions>
    <div class='ql-snow' v-bind:class="`${fontSize}-font ${segmentSpace}-space`">
        <div class="ql-editor">
            <div style="padding-bottom: 200px;" v-html="article.content"></div>
        </div>
    </div>
</div>
</body>
<!-- 由于vue3逐渐放弃了对浏览器支持，请使用vue2语法 -->
<script src="file:///android_asset/reader/js/vue.js"></script>
<!-- 引入组件库 -->
<script src="file:///android_asset/reader/js/element-ui.js"></script>
<script>
    const vue = new Vue({
        el: '#main',
        data() {
            return {
                article: {},
                fontSize: 'normal',
                segmentSpace: 'wider'
            };
        },
        methods: {
            handleCommand(command) {
                const commandArr = command.split(':');
                switch (commandArr[0]) {
                    case 'font':
                        this.fontSize = commandArr[1];
                        switch (this.fontSize) {
                    case 'small':
                        this.descriptionSize = 'mini';
                        break;
                    case 'normal':
                        this.descriptionSize = 'small';
                        break;
                    case 'large':
                        this.descriptionSize = 'medium';
                        break;
                    }
                    break;
                case 'space':
                    this.segmentSpace = commandArr[1];
              }
            },
        },
        // 页面绑定完成时，渲染页面数据
        mounted: function() {
            params = {'callback': 'renderPage'}
            callAndroidMethod('getArticle', params)
        }
    })
    // 获取回调得到的article数据并渲染
    function renderPage(json) {
        vue.$data.article = json
        vue.$data.fontSize = json.setting.fontSize
        vue.$data.segmentSpace = json.setting.segmentSpace
    }

    function renderAct(json) {
        vue.$data.fontSize = json.setting.fontSize
        vue.$data.segmentSpace = json.setting.segmentSpace
    }





</script>
</html>